#title, .subtitle, .post_title{
    color: #505050
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

.post_title{
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

body{
    background: #f7f7f7;
    font-family: verdana;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin: 0px;
    border-radius: 15px;

}

.post_content{
    margin: 0;
    text-transform: capitalize;
    font-weight: bold;
    
}

.imagem-post{
    margin:0;
    margin-bottom: 15px;
}

.foto_de_perfil{
    border: 0.5px solid #000;
    border-radius: 50%;

}

a{
    text-decoration: line-through;
    color: #505050;
}

.subtitle{
    font-size: 30px;
}