#title, .subtitle, .post_title{
    color: blueviolet
}

.post_title{
    font-size: 30px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

body{
    background: #aaaaaa;
}

.post{
    background: #fff;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
}

.post_content{
    
}